body{
  font-family: sans-serif;
  margin:0;
  font-size: 25px;
  background-color: #3AAFA9;
  color: #17252A;
  padding-bottom: 0;
}


form{
  padding-left: 15%;
  padding-right: 15%;
}

.textLong{
  border-radius: 40px;
  border-color: #17252A;
  border-style: solid;
  background-color:#2B7A78;
  padding: 20px;
  font-size: 15px;
  color: #DEF2F1;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.body_wrapper.topSection{
  background-color: #DEF2F1;
}

#About_us .textLong{
  border-color: #2B7A78;
  background-color: #DEF2F1;
  color: #17252A;
  border-radius: 50px;
  font-size: 22px;
  padding: 5%;
  margin-left: 18%;
  margin-right: 18%;
}

#About_us{
  padding-top: 5%;
  padding-bottom: 5%;
}

#HeaderWave {
  display: block;
  position: relative;
  width: 100%;
/*  padding-bottom: 100%;*/
  padding: 0;
  vertical-align: middle;
  overflow: hidden;

}

#HeaderWave path{
  stroke: none;
  fill:#DEF2F1;;
}


#Customer_form{
  padding-top: 0%;
}

input{
  margin: 0;
  border-radius: 20px;
  border-color: #2B7A78;
  border-style: solid;
  padding: 5px;
  vertical-align: top;
  background-color: #DEF2F1;
  width: 160px;
}

.topTextInput{
  padding-right: 30px;
  padding-left: 30px;
}

textarea{
  border-radius: 20px;
  border-color: #2B7A78;
  border-style: solid;
  padding: 15px;
  background-color: #DEF2F1;
  height: 100px;
  width: 250px;
  resize: none;
}

input:focus, textarea:focus, select:focus{
        outline: none;
}


#SubjectsDiv input{
  -webkit-appearance: none;
  background-color: #DEF2F1;
	border: 1px solid #2B7A78;
	padding: 9px;
	border-radius: 9px;
  vertical-align: baseline;

}

button:focus, textarea:focus, select:focus{
        outline: none;
}

#Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #17252A;
  z-index: 2;
  font-weight: bold;
  color: #DEF2F1;
}

#Navbar ul{
  list-style: none;
}

#Navbar li{
  display: inline-block;
  padding-right: 1%;
  padding-left: 1%;
  text-align: center;
  vertical-align: middle;
}

li:hover{
  cursor: default;
}

#About_us p{
  text-align: left;
}

button{
  border-radius: 40px;
  border-color: #2B7A78;
  border-style: solid;
  background-color: #DEF2F1;
  padding: 5px;
  font-size: 15px;
  color: #17252A;
  margin-bottom: 10px;
}


.carousel-item{
  display: block;
  text-align:center;
}

.body_wrapper{
  padding: 10%;
  padding-bottom: 0;
}

.body_wrapper div{
  text-align: center;
}

.section_wrapper{
  padding: 8%;
  font-size: 25px;
}


.table {
  width: auto;
  display: table;
  table-layout: fixed; /* optional, for equal spacing */
  border-collapse: collapse;
  margin: 0 auto;
}


.tableCol {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    list-style: none;

}

.tableCol > button{
  padding-top: 15px;
  padding-bottom:15px;
  width: 150px;
  height: 120px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 150px;
}

.selectedButton{
  border-color: #DEF2F1;
  background-color: #2B7A78;
  color: #FEFFFF;
}

h2{
  text-align: left;
  padding-bottom: 2.5%;
}

h3{
  font-size: 25px;
  color: #17252A;
  font-weight: normal;
}

hr{
  width: 80%;
  height: 1px;
  border: solid;
  border-radius: 4px;
  background-color: #17252A;
}

td > button{
  width: 100%;
}

.textLong span{
  font-style: italic;
}

.hidden{
  display: none;
}

#FAQ{
  padding-left: 0;
  padding-right: 0;
}


#FAQ ul{
  margin-top: 0;
  text-align: left;
  list-style: none;
}




#FAQ button{
  padding-top: 15px;
  padding-bottom:15px;
  width: 150px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 150px;
  vertical-align: top;
}

#FAQ .textLong{
  margin-bottom: 30px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 30px;
}

#SuccesfulForm{
  position: fixed;
  top: 40%;
  bottom: 40%;
  left: 40%;
  right: 40%;
  padding: 1%;
  border-radius: 40px;
  border-color: #2B7A78;
  border-style: solid;
  background-color: #DEF2F1;
  font-size: 15px;
  color: #17252A;
  margin-bottom: 10px;
  z-index: 100;
}


#SuccesfulForm p{
  font-weight: bold;
  font-size: 18px;
}

#FooterWave {
  display: block;
  position: relative;
  width: 100%;
/*  padding-bottom: 100%;*/
  padding: 0;
  vertical-align: middle;
  overflow: hidden;
  transform: rotate(180deg);
}

#FooterWave path{
  stroke: none;
  fill:#17252A;
}

#FooterWavePatch{
  position: relative;
  width: 100%;
  height: 10px;
  bottom: 6px;
  background-color: #17252A;
}

#Footer{
  width: 100%;
  height: 250px;
  background-color: #17252A;
  font-weight: bold;
  color: #DEF2F1;
}
